antlr4-python3-runtime==4.9.3
atom3d==0.2.6
biopython==1.85
biotite==1.2.0
biotraj==1.2.2
dm-tree==0.1.6
einops==0.8.1
esm==3.2.0
h5py==3.14.0
hydra-core==1.3.2
lmdb==1.7.3
matplotlib==3.10.3
numpy==1.26.4
omegaconf==2.3.0
openfold==2.2.0
opt-einsum-fx==0.1.4
pandas==2.3.1
pytorch-lightning==2.5.1.post0
rich==14.0.0
scipy==1.15.2
seaborn==0.13.2
torch==2.6.0
torch_cluster==1.6.3+pt26cu124
torch-geometric==2.6.1
torch_scatter==2.1.2+pt26cu124
torch_sparse==0.6.18+pt26cu124
torchaudio==2.6.0
torchmetrics==1.7.2
torchtyping==0.1.5
torchvision==0.21.0
tqdm==4.67.1
wandb==0.20.1
